@tailwind base;
@tailwind components;
@tailwind utilities;

/* navbar */
#nav {
  z-index: 99999;
  transition: 1s ease-in-out;
}
.hamburger {
  width: 40px;
  height: 40px;
  max-height: 100%;
  max-width: 100%;
  display: none;
}
.nav-link:hover {
  color: white;
}
#footer {
  background-color: #17191f;
  /* width: 100%; */
}
input {
  outline: 0;
}
#email {
  border: 1px solid #747579;
}
#email:hover {
  border: 1px solid #fff;
}
#email:focus {
  color: white;
}

#submit {
  background-image: linear-gradient(90deg, #ff1f75, #ff4746);
}
#submit:hover {
  background-image: linear-gradient(90deg, #ff1f75, #ff1f75);
}

#separator {
  width: 1px;
  /* height: 124px; */
  /* margin-top: 0; */
  /* margin-right: 20px; */
  /* margin-bottom: 0; */
}
/* svg  */
svg {
  width: 30px;
  height: 30px;
}
svg path {
  fill: #747579;
}
svg path:hover {
  fill: #fff;
}

@media only screen and (max-width: 440px) {
  .nav-btn {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
    border-radius: 9px;
    background-color: transparent;
  }
  .nav-menu {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 100px;
    z-index: 99;
    align-items: flex-start;
    right: 10px;
    max-width: 280px;
    width: 100%;
    background-color: #25282c;
    border-radius: 16px;
    gap: 0;
  }
  .nav-menu.active {
    display: block;
  }
  .nav-link {
    display: block;
    justify-content: center;
    padding: 24px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.6px;
    transition: 0.2s ease-in-out;
    letter-spacing: 1.6px;
  }

  .nav-link:not(:last-child) {
    border-bottom: 1px solid #151618;
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .nav-btn-span {
    display: none;
  }
}

/* hero */
.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(90deg, #f5005e, #4801f5);
  box-shadow: 0 16px 24px 0 #000;
}
.play:hover {
  background-image: linear-gradient(90deg, #f5005e, #f5005e);
}

@media only screen and (max-width: 1023px) {
  #hero,
  #value,
  #cover-one-left,
  #cover-middle-right,
  #open-source,
  #cta,
  #cta-2 {
    max-width: 560px;
    margin: auto;
  }
}
@media only screen and (max-width: 330px) {
  .hero-btn {
    width: 100%;
    font-size: 16px;
  }
}
